<agm-map [latitude]='latitude' [longitude]='longitude' [mapTypeId]='mapType'>
    <agm-direction 
        [origin]="origin" 
        [destination]="destination" 
        [waypoints]="waypoints" 
        [renderOptions]="renderOptions"
        (onResponse)="onResponse($event)">
    </agm-direction>
    <agm-marker *ngFor="let i of markers"
      [latitude]="i.lat" [longitude]="i.lng" [iconUrl]="i.icn">
    </agm-marker>
</agm-map>

<div id="weatherLoading" *ngIf="isLoading">
    <mat-progress-spinner 
        class="progress" 
        mode="indeterminate">
    </mat-progress-spinner>
</div>