<agm-map [latitude]='latitude' [longitude]='longitude' [mapTypeId]='mapType'>
    <agm-direction 
        [origin]="origin" 
        [destination]="destination" 
        [waypoints]="waypoints" 
        [travelMode]="travelMode"
        [renderOptions]="renderOptions"
        (onResponse)="onResponse($event)">
    </agm-direction>
    <agm-marker *ngFor="let i of markers"
      [latitude]="i.lat" [longitude]="i.lng" [iconUrl]="i.icn">
      <agm-info-window>
          <h3><strong>{{i.infoTitle}}</strong></h3>
          <p>Time: {{i.infoTime}}<br />Conditions: {{i.infoConditions}}</p>
        </agm-info-window>
    </agm-marker>
</agm-map>

<div id="weatherLoading" *ngIf="isLoading">
    <mat-progress-spinner 
        class="progress" 
        mode="indeterminate">
    </mat-progress-spinner>
</div>