<mat-card class="card">
    <button [ngClass]="activeTravelMode == entry.methodName ? 'active' : ''" *ngFor="let entry of travelModes" (click)="changeTransportationMethod(entry.methodName)" mat-icon-button>
      <mat-icon>{{entry.icon}}</mat-icon>
    </button>

    <button [ngClass]="" (click)="openNavigation()" mat-icon-button>
      <mat-icon>navigation</mat-icon>
    </button>

    <mat-card-content class="content">
    
    <div class="address-list" cdkDropList (cdkDropListDropped)="drop($event)">
      <div cdkDrag class="address-box" *ngFor="let entry of addressEntries; trackBy: trackEntries" style="height: 81px">
        <app-address [entryid]="entry.id"></app-address>
        <button *ngIf="addressEntries.length > 2" (click)="removeLocationEntry(entry.id)" mat-icon-button>
          <mat-icon>clear</mat-icon>
        </button>
      </div>
    </div>

    <button (click)="addLocationEntry()" mat-icon-button>
      <mat-icon>add</mat-icon>
    </button>

  </mat-card-content>
</mat-card>